* {
    font-family: font-family: 'Roboto', sans-serif;
}

h1 {
    color: palevioletred;
    font-variant: small-caps;
}

h3 {
    color: orangered;
    font-weight: bold;
}

p {
    border-width: 4px;
    border-color: lightseagreen;
    border-style: dotted;

}

//In HTML, you nca make unique selector by class or id, for example <p class="two">

.two {
    border-width: 2px;
    border-color: fuschsia;
    border-style: groove;
    background-clor: chocolate;
}

body {
    background-color: greenyellow;
    text-align: center

}




.container1 {
    background-color: rgb(127, 255, 212);
    width: 750px;
 }
 h1 {
     color: blue;
     text-align: center;
     font-size: 70px;
 }
 .picture {
    
     width: 740px;
     padding: 5px;
     position: relative;
     top: -50px;
 
 }
 
 h2 {
     color: rgb(244, 217, 43);
     margin: auto;
     text-align: center;
     font-size: 40px;
     background-color: rgba(83, 169, 140, 0.747);
     border: 1px solid;
     border-width: 5px;
 }
 
 
 .container2 {
     
     text-align: center;
     font-size: 30px;
     margin: auto;
     padding: 10px;
 }
 .gameboard {
     align-items: center;
     size: 300px;
     border: 1px solid;
     height: 600px;
     width: 700px;
     margin: auto;
 }
 .emoji {
     font-size: 100px;
     text-align: center;
 }